<div class="bg-gray-50">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="text-center sm:text-left">
        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Llista productes</h1>
      </div>

      <div class="mt-4 flex flex-col gap-4 sm:mt-0 sm:flex-row sm:items-center">
        <button
          class="block rounded-lg bg-red-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-red-700 focus:outline-none focus:ring"
          type="button"
          [routerLink]="['/admin/products/create']"
        >
          Afegir producte
        </button>
      </div>
    </div>
  </div>
</div>

<div class="overflow-x-auto">
  <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="ltr:text-left rtl:text-right">
    <tr>
      <th class="px-4 py-2"></th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Nom</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Data Publicació</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Preu</th>
      <th class="px-4 py-2"></th>
    </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
    <tr *ngFor="let item of products; let id =index">
      <td class="whitespace-nowrap px-4 py-2">
        <a
          class="inline-block rounded bg-red-600 px-4 py-2 text-xs font-medium text-white hover:bg-red-700"
          [routerLink]="['/admin/products', item.id]"
        >
          Editar
        </a>
      </td>
      <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{ item.name }}</td>
      <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ item.releaseDate }}</td>
      <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ item.price }}€</td>
      <td class="whitespace-nowrap px-4 py-2">
        <button type="button" (click)="deleteProduct(id, item.id)">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="icon icon-tabler icons-tabler-outline icon-tabler-circle-minus hover:text-red-700 hover:scale-110">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"/>
            <path d="M9 12l6 0"/>
          </svg>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
